.nav {
    list-style: none;
    padding-left: 0;

    border-style: solid;

    width: 50vw;
    margin: auto;

    text-align: center;
}

.nav>li {
    display: inline-block;
    border-style: outset;
}

.nav>li>a{
    text-decoration: none;
    color: black;
}

.nav>li>:hover{
    background-color: rgb(255, 0, 0);
}